@model SalesAndPurchaseManagement.ViewModels.ResetPasswordViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/login-form.css">
    <title>Quên Mật Khẩu</title>
</head>
<body>
    <div class="container-fluid">
        <div class="name-system">
            <h1 class="title">HỆ THỐNG QUẢN LÝ ĐỒ NỘI THẤT</h1>
        </div>
        <div class="container main-content">
            <img class="user-icon" src="~/available/user.png" alt="user icon">
            <div class="google-account-login">
                <img src="~/available/password.png" class="google-image" alt="">
                QUÊN MẬT KHẨU
            </div>
            <form asp-action="SendOtp" method="post" class="login-form">
                <div class="main-form">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control input-field" name="Email" id="email" asp-for="Email" placeholder="Email" />
                        <label for="email">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="login" disabled>Gửi OTP</button>

                    @if (ViewData["Message"] != null)
                    {
                        <label style="color:red; margin-left:25px">@ViewData["Message"]</label>
                    }
                </div>
                <div class="footer">
                    <a href="@Url.Action("Login", "Access")">Quay về đăng nhập</a>
                    <p>Mã OTP sẽ được gửi về email của bạn để đặt lại mật khẩu</p>
                </div>
            </form>
        </div>
    </div>
    <script src="~/js/login-form.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
