@model SalesAndPurchaseManagement.Models.Shape

@{
    ViewData["Title"] = "Xóa Hình Dạng";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title">Thông tin hình dạng cần xóa</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <h3 class="profile-username text-center">@Model.ShapeName</h3>

        <strong><i class="fas fa-id-card mr-1"></i> @Html.DisplayNameFor(m => m.ShapeId)</strong>
        <p class="text-muted">@Html.DisplayFor(m => m.ShapeId)</p>

    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->
<!-- Xác nhận xóa -->

<form asp-action="Delete" method="post">
    <div class="form-group">
        <input type="hidden" asp-for="ShapeId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
    </div>
</form>