@model SalesAndPurchaseManagement.Models.Characteristic
@using SalesAndPurchaseManagement.Helpers

@{
    ViewData["Title"] = "Xóa Đặc Điểm";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title">Thông tin đặc điểm cần xóa</h3>
    </div>
    <div class="card-body">
        <h3 class="profile-username text-center">@Model.CharacteristicName</h3>

        <strong><i class="fas fa-id-card mr-1"></i> @Html.DisplayNameFor(m => m.CharacteristicId)</strong>
        <p class="text-muted">@Html.DisplayFor(m => m.CharacteristicId)</p>
    </div>
</div>

<!-- Xác nhận xóa -->
<form asp-action="Delete" method="post" class="mt-3">
    <div class="form-group">
        <input type="hidden" asp-for="CharacteristicId" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
    </div>
</form>
