@model SalesAndPurchaseManagement.Models.Manufacturer

@{
    ViewData["Title"] = "Chỉnh Sửa Nhà Sản Xuất";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<section class="content">
    <div class="ms-2 mx-2">

        <form asp-controller="Manufacturer" asp-action="Edit" method="post" class="mt-3">

            <input type="hidden" asp-for="ManufacturerId" />

            <div class="card card-warning">
                <div class="card-header">
                    <h3 class="card-title">Thông Tin Nhà Sản Xuất</h3>
                </div>
                <div class="card-body">

                    <div class="form-group row mb-3">
                        <label asp-for="ManufacturerName" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="ManufacturerName" class="form-control" />
                            <span asp-validation-for="ManufacturerName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
                    <button type="submit" class="btn btn-warning float-right">Cập nhật</button>
                </div>
            </div>

        </form>
    </div>
</section>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}