@model SalesAndPurchaseManagement.Models.Material

@{
    ViewData["Title"] = "Tạo Nguyên Liệu Mới";
    Layout = "~/Views/Shared/MyLayoutHelper.cshtml";
}

<section class="content">
    <div class="ms-2 mx-2">

        <form asp-controller="Material" asp-action="Create" method="post" class="mt-3">

            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Thông Tin Nguyên Liệu</h3>
                </div>
                <div class="card-body">

                    <div class="form-group row mb-3">
                        <label asp-for="MaterialName" class="col-sm-4 col-form-label"></label>
                        <div class="col-sm-8">
                            <input asp-for="MaterialName" class="form-control" />
                            <span asp-validation-for="MaterialName" class="text-danger"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <a asp-action="Index" class="btn btn-secondary">Quay Lại</a>
                    <button type="submit" class="btn btn-primary float-right">Tạo</button>
                </div>
            </div>

        </form>
    </div>
</section>

@section Scripts {
    @Html.Partial("_ValidationScriptsPartial")
}